/* div {
    border: 2pt solid black;
}

table {
    margin: auto;
    width: 100%;
} */

/* .departureItem {
    background-color: lightblue;
} */

.scheduleCard {
    height: 800px;
    overflow-y: scroll;
}

html {
    height: 100%;
}

body {
    background-image: url("images/train.png");
    height: 100%;
}

.centre {
    margin:auto;
}


.home {
    padding:  5%;
}

.opacity {
    /* padding: 10%; */
    opacity: 0.8;
}

.liveTime {
    text-align: center;
}
